{# app/Resources/views/registration/register.html.twig #}
{% extends "base.html.twig" %}
{% block stylesheets %}
    <link href="{{ asset('css/register.css') }}" rel="stylesheet"/>
{% endblock %}

{% block scripts %}
    <script src='https://www.google.com/recaptcha/api.js?hl={{ app.request.locale }}'></script>
{% endblock %}
{% block body %}
    <div class="registration card card-info">
        <div class="card-heading">
            <h3 class="card-title">{{ 'Password reset' | trans }}</h3>
        </div>
        <div class="card-body">
            {% if app.request.hasPreviousSession %}
                {% for label, messages in app.flashes %}
                    {% for message in messages %}
                        <div class="w-100 p-2">
                            <div class="alert text-center alert-{{ label == 'error' ? 'danger':label }} flash-{{ label }}">
                                {{ message }}
                            </div>
                        </div>
                    {% endfor %}
                {% endfor %}
            {% endif %}
            {% if passwordIsReset == true %}
                <div class="w-100 p-2">
                    <div class="alert text-center alert-success flash-success">
                        {% trans with {'%email%': username} %}A mail with a new temporary password was send to %email%{% endtrans %}
                    </div>
                </div>
            {% endif %}
            {{ form_start(form) }}
            {{ form_row(form.username) }}
            <div class="g-recaptcha" data-sitekey="6Lc7NIkUAAAAAHVR7g_zjKSIjvFcsdv3wRALCMqU" ></div>
            <div class="d-flex justify-content-between mt-3">
                <button class="btn btn-outline-warning" type="button" onclick="location.href='./login'">{{ 'Back to login' | trans }}</button>
                {% if passwordIsReset == false %}
                    <button class="btn btn-outline-info" type="submit">{{ 'Reset password' | trans }}</button>
                {% endif %}
            </div>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}